<app-toolbar></app-toolbar>

<div class="image-container">
  <img src="assets/homepage-background.png" alt="Image d'une pile de papier" class="image">
  <mat-card class="text-image">
    <mat-card-content>
      Simplifiez votre quotidien en vous libérant de vos taches administratives en toute sérénité
    </mat-card-content>
  </mat-card>
  <button mat-raised-button color="accent" class="button-image">Mes prestations</button>

</div>

<div>
  <mat-card class="blue-card">
    <mat-card-title>Rapidité</mat-card-title>
    <mat-card-content>Pour répondre à vos demandes urgentes</mat-card-content>
  </mat-card>
  <mat-card class="blue-card">
    <mat-card-title>Confiance</mat-card-title>
    <mat-card-content>Respect de la confidentialité de vos données</mat-card-content>
  </mat-card>
  <mat-card class="blue-card">
    <mat-card-title>Travail soigné</mat-card-title>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mat-card-content>
  </mat-card>
</div>

<div>
  <img src="assets/photo-ludo.jpg"
    width="200"
    height="260" style="display: inline-block"
    alt="photo de Ludovic">
  <mat-card style="display: inline-block">
    <mat-card-title>Ludovic</mat-card-title>
    <mat-card-content>
      Je suis Ludovic, votre assistant administratif
      <button mat-raised-button color="accent">Qui suis-je ?</button>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <mat-card class="yellow-card">
    <mat-card-title>Mes services</mat-card-title>
  </mat-card>
  <div>
    <mat-card class="blue-card">
      <mat-card-title>Devis / Factures</mat-card-title>
      <mat-card-content>Rédaction, envoi et relance</mat-card-content>
    </mat-card>
    <mat-card class="blue-card">
      <mat-card-title>Tri et Archivage</mat-card-title>
    </mat-card>
    <mat-card class="blue-card">
      <mat-card-title>Mise en page</mat-card-title>
      <mat-card-content>De vos documents, powerpoint word</mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="accent">Mes prestations en détails</button>
</div>


<div>
  <mat-card class="yellow-card">
    <mat-card-title>Vos avantages de faire appel à moi</mat-card-title>
  </mat-card>
  <div>
    <mat-card class="blue-card">
      <mat-card-content>Vous concentrer sur votre métier et gagner du temps</mat-card-content>
    </mat-card>
    <mat-card class="blue-card">
      <mat-card-content>Vous êtes serein de déléguer des tâches urgentes</mat-card-content>
    </mat-card>
    <mat-card class="blue-card">
      <mat-card-content>Simplicité d'un travail flexible et à distance</mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="accent">Mes prestations en détails</button>
</div>


